{{yield}}

<p>
  <form {{action "saveRental" on="submit"}}>
    {{input value=name placeholder="Rental Name"}}
    <br/>
    {{input value=daily_rate placeholder="Daily Rate"}}
    <p></p>
    <span><button class="app-button" type="submit">Submit</button></span>
  </form>
</p>
