.home_link, .book-it {
  float: right
}

.book-it {
  width: 150px;
  height: 25px;
}

.app-button {
  width: 135px;
  height: 25px;
}

input[type=text] {
  width: 250px;
  padding: 5px;
  border: 1px dotted #999;
  border-radius: 0px;
}

input[type=text].input-short {
  width: 100px;
}

#price {
  color: green;
  font-weight: bold;
}

.green-link a:link { text-decoration: none; color: Green; border-bottom:1px dotted;}
.green-link a:visited { text-decoration: none; color: Green; border-bottom:1px dotted;}
.green-link a:active { text-decoration: none; color: Green; border-bottom:1px dotted;}
.green-link a:hover { text-decoration: none; color: Green; border-bottom:1px dotted;}
