<div class="container">
  <div class="menu">
    {{#link-to 'list-rentals' class="button"}}
      Rental List
    {{/link-to}}
    {{#link-to 'add-rental' class="button"}}
      Add Rental
    {{/link-to}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>

