<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Edit Rental</h2>
  <p>
    {{#save-rental actionName="saveRental" name=model.name daily_rate=model.daily_rate}}
    {{/save-rental}}
  </p>
</div>
