<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Rentals List</h2>

  {{#each model as |rental|}}
  <article class="listing">
    <h3>{{#link-to "edit-rental" rental}} {{rental.name}} {{/link-to}}</h3>
    <div class="detail name">
      <span>Name:</span> {{#link-to "edit-rental" rental}} {{rental.name}} {{/link-to}}
    </div>
    <div class="detail daily_rate">
      <span>Daily Rate:</span> {{rental.daily_rate}}
    </div>
    <div class="detail rental_destroy">
      <span><a {{action "removeRental" rental}} href="#">Remove</a></span>
    </div>
  </article>
  <hr/>
  {{/each}}

</div>
