<div class="jumbo">
  <h3>Rentals List</h3>

  {{#each model as |rental|}}
  <article class="listing">
    <h3>{{#link-to "edit-rental" rental}} {{rental.name}} {{/link-to}}</h3>
    <div class="detail name">
      <span>Name:</span> {{#link-to "edit-rental" rental}} {{rental.name}} {{/link-to}}
    </div>
    <div class="detail daily_rate">
      <span>Daily Rate:</span> {{rental.daily_rate}}
    </div>
    <div class="detail remove-rental">
      <span><a {{action "removeRental" rental}} href="#">Remove</a></span>
    </div>
    <div class="detail list-bookings green-link">
      <span>{{#link-to "list-bookings" rental}} View Bookings {{/link-to}}</span>
    </div>
  </article>
  <hr/>
  {{/each}}

</div>
